
table
{
    border-spacing: 0;
    width: 100%;
}

th, td
{
    text-align: left;
    padding: 16px;
}

#videoTableHeaders:hover
{
    background: none;
}

.tabulator-table .tabulator-row:hover
{
    background: linear-gradient(180deg, rgba(0, 167, 217, 0.75), rgba(0, 148, 192, 0.75), rgba(0, 125, 167, 0.76));
    background-attachment: fixed;
    color: white;
}

.videoGrid tr:hover a
{
    color: white;
}